/* http://webdesignerwall.com/tutorials/css3-gradient-buttons */

.MineBox {
	width: 11px;
	height: 14px;
	display: inline-block;
	outline: none;
	text-align: center;
	text-decoration: none;
	font: 16px Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 10px;
	padding-left: 9px;
	padding-top: 6px;
	margin: 0px;
	text-shadow: 0 1px 1px rgba(0,0,0,.1);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	cursor: default;	
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.MineBox:hover {
	text-decoration: none;
}

.MineBox:active {
	position: relative;
	top: 1px;
}


.MineBox-hidden {
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.MineBox-hidden:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.MineBox-hidden:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.MineBox-error {
	background: -webkit-gradient(linear, left top, left bottom, from(#ED1C24), to(#AA1317));
	background: -moz-linear-gradient(center top , #ED1C24, #AA1317) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ED1C24', endColorstr='#AA1317');
	border: 1px solid #980C10;
}
.MineBox-error:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#C9151B), to(#A11115));
	background: -moz-linear-gradient(center top , #C9151B, #A11115) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#C9151B', endColorstr='#A11115');
	
}
.MineBox-error:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#AA1317), to(#ED1C24));
	background: -moz-linear-gradient(center top , #AA1317, #ED1C24) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#AA1317', endColorstr='#ED1C24');
}

.MineBox-exposed {
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EDEDED));
	background: -moz-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EDEDED');
	border: 1px solid #B7B7B7;
	color: #606060;
}
.MineBox-exposed:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DCDCDC));
	background: -moz-linear-gradient(center top , #FFFFFF, #DCDCDC) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DCDCDC');
}
.MineBox-exposed:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#FFFFFF));
	background: -moz-linear-gradient(center top , #EDEDED, #FFFFFF) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED', endColorstr='#FFFFFF');
	color: #999999;
}

.MineBox-found {
	background: -webkit-gradient(linear, left top, left bottom, from(#7DB72F), to(#4E7D0E));
	background: -moz-linear-gradient(center top , #7DB72F, #4E7D0E) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7DB72F', endColorstr='#4E7D0E');
	border: 1px solid #B7B7B7;
	color: #606060;
}
.MineBox-found:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#6B9D28), to(#7DB72F));
	background: -moz-linear-gradient(center top , #6B9D28, #7DB72F) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6B9D28', endColorstr='#7DB72F');
}
.MineBox-found:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#4E7D0E), to(#7DB72F));
	background: -moz-linear-gradient(center top , #4E7D0E, #7DB72F) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4E7D0E', endColorstr='#7DB72F');
	color: #999999;
}

.MineBox-flagged {
}

.MineBox-1 {
	color: blue;
}
.MineBox-2 {
	color: green;
}
.MineBox-3 {
	color: red;
}
.MineBox-4 {
	color: darkblue;
}
.MineBox-5 {
	color: darkred;
}
.MineBox-6 {
	color: turquoise;
}
.MineBox-7 {
	color: purple;
}
.MineBox-8 {
	color: magenta;
}

.MineBox-image {
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

